.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.content{
    height: calc(100vh - 33px);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-txt{
    width: 30vw;
    height: 250px;
}

h4{
    font-size: 24px;
    line-height: 35px;
}

p{
    font-size: 16px;
    margin: 20px 0;
    margin-bottom: 40px;
}

a{
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.login{
    margin-right: 10px;
    background-color: green;
}

.login:hover{
    background-color: rgb(0, 88, 0);
}

.logout{
    background-color: red;
}

.logout:hover{
    background-color: rgb(210, 1, 1);
}

.success{
    color: green;
    margin: 35px 0;
}