<footer>
    <div class="content">
        <p>Copyright &copy; 2022. All rights reserved</p>

        <div class="right">
            <div>
                <span style="font-weight: 600;">Email: </span> info@jitutraining.com
            </div>
            <div class="links">
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
